body {
	font-family: 'Source Sans Pro', sans-serif;
	background-color: #4E6E58;
	color: white;
	font-size: 18px;
}

h2 {
	margin-top: 40px;
	font-size: 1.8em;
	text-align: center;
	font-weight: 400;
}

h3 {
	margin: 15px;
	font-size: 1.5em;
	text-align: center;
	font-weight: 400;
}

section {
	margin: 20px auto;
	width: 60%;
	.main {
		div {
			margin: 40px;
		}
		label {
			font-weight: 400;
		}
		input[type=text] {
			background-color: #7ADFBB;
			border: none;
			border-bottom: 2px solid black;
			width: 45%;
			margin-left: 10px;
			padding: 11px;
		}
		select {
			background-color: #7ADFBB;
			border: none;
			border-bottom: 2px solid black;
			padding: 10px;
			margin-left: 10px;
			cursor: pointer;
		}
		option {
			background-color: #4C8577;
			cursor: pointer;
			&:hover {
				cursor: pointer;
				background-color: #4C8577;
			}
		}
		.submit {
			text-align: center;
			input[type=submit] {
				padding: 10px 17px;
				background-color: #7ADFBB;
				border: none;
				border-bottom: 2px solid black;
				color: black;
				border-radius: 5px;
			}
		}
	}
	input[type=radio] {
		margin-right: 20px;
		vertical-align: middle;
	}
	label {
		font-size: 1.2em;
	}
	button {
		background-color: #7ADFBB;
		color: black;
		border: none;
		border-bottom: 2px solid black;
		margin: 40px;
		padding: 10px 17px;
		border-radius: 5px;
		font-size: 1em;
	}
	.options {
		margin-top: 20px;
	}
	.pagination {
		display: flex;
		justify-content: space-around;
	}
	.signupForm {
		display: flex;
		justify-content: space-between;
	}
}